# python / pipenv gitignore

*.pyc
__pycache__/
*.pyo
*.pyd
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.tox/
*.so
*.o
*.dylib
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv
.spyderproject
.spyproject
.ropeproject
.idea/
.vscode/
*.swp
*.swo
.DS_Store
secret/
data/garymarcus/**/*.*
data/garymarcus/*
data/garymarcus/
data/garymarcus/chroma.sqlite3
data/garymarcus/9878a8dc-7749-4f04-897e-ce480fc4f0f0/*.bin