# python / pipenv gitignore

*.pyc
__pycache__/
*.pyo
*.pyd
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.tox/
*.so
*.o
*.dylib
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv
.spyderproject
.spyproject
.ropeproject
.idea/
.vscode/
*.swp
*.swo
.DS_Store
secret/
data/garymarcus/**/*.*
data/garymarcus/*
data/garymarcus/
data/garymarcus/*/length.bin