[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chromadb = "*"
openai = "*"
beautifulsoup4 = "*"
requests = "*"
tiktoken = "*"
pandas = "*"
pynput = "*"

[dev-packages]

[scripts]
raft = "python raft.py"

[requires]
python_version = "3.11"
