[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chromadb = "*"
openai = "*"
beautifulsoup4 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
